@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-wave-stretch {
    animation: stretch 1s linear infinite;
}

@keyframes stretch {
    0% { transform: scaleY(1);}
    50% { transform: scaleY(2);}
    100% { transform: scaleY(1);}
}

.shadow-base-content {
    --tw-shadow-color: oklch(var(--bc)/ 0.1) 
}

#root{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    margin-top: 64px;
    flex: 1;
}